img {
  max-width: 200px;
  height: auto;
}



.the-header {
  color: blue;
  border: 1px solid green;

}

#logo {
  font-style: oblique;
  border: 1px solid rebeccapurple;
}

#image-list-div {
  border: 5px solid crimson;
  /* display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; */
}

.image-item {
  text-align: center;
  border-radius: 1rem;
  padding: 10px;
  background-color: burlywood;
  margin: 5px;
  display: inline-block;
  border: 2px solid black;
}

